.footerParentDiv {
  width: 100%;
}
.footerParentDiv .content {
  display: flex;
  justify-content: space-between;
  background: #F2F2F2;
  padding: 16px;
  
  
}
.footerParentDiv .content .heading {
  font-size: 24px;
  font-weight: bolder;
}

.footerParentDiv .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #475FCB;
  color: #F2F2F2;
}

.footerParentDiv .footer p {
  margin: 0;
}